html body {
    background-color: #1A1A29; 
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #1A1A29;
}

.navbar {
    background-color: #181824; 
}

.navbar .navbar-brand {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(117, 98, 224);
}

.navbar .navbar-nav .nav-link {
    text-decoration: none;
    margin-left: 30px;
    font-size: 1em;
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    opacity: 0.5;
}

.about-me {
    color: white;
    padding-left: 150px;
    background-color: #1A1A29;
}

.about-me h1 {
    color: rgb(117, 98, 224);
}

.about-text {
    margin-bottom: 20px;
}

.about-nums {
    display: flex;
    align-items: center;
}

.about-exp {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.about-exp i {
    margin-right: 10px;
}

.about-info {
    font-size: 20px;
}

.services {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-top: 20px;
    background-color: #1A1A29;
}

.container-purple,
.container-white {
    width: 341px;
    height: 338px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1A1A29;
    padding: 20px;
    border-radius: 6%;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #1A1A29;
}

.container-purple {
    border: 2px solid rgb(117, 98, 224);
}

.container-white {
    border: 2px solid white;
}

.container-white h2 {
    color: rgb(117, 98, 224);
}

.about-link {
    color: rgb(117, 98, 224);
}
.container-purple,
.container-white  i {
    margin-bottom:20px;
}
